.nav_menu {
    background: #00A4FF !important;
}    
.top_nav .nav .open > a, .top_nav .nav .open >
 a:focus, .top_nav .nav .open > a:hover, .top_nav .nav > 
li > a:focus, .top_nav .nav > li > a:hover {
    background: #547CA7 !important;
}
#logingrid{
    padding: 5% !important;
    background-color: #3161c9 !important;
}
.left_col {
    background: #00A4FF !important;
}
body {
    color: #00A4FF !important;
    }